*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.li_header{
    list-style-type: none;
    float:left;
    margin: 0 8em 0 8em;
    padding: 1em 0.5em 1em 0.5em;
    text-align: center;
}

.li_logout_header{
    list-style-type: none;
    float:left;
    margin: 0 10em 0 10em;
    padding: 1em 1em 1em 1em;
    text-align: center;
}

p {
    font-size: 1.4rem;
    color: white;

}

.p1{
    padding-left: 0;
}


li a{
    text-decoration: none;
}

nav{
    background-color: red;
    width: 100%;
}

.login-h1{
    font-size: 2rem;
    text-align: center;
}


.grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

/*.h1-box{*/
/*    font-size: 1.8rem;*/
/*    padding-right: 1em;*/
/*}*/
h1{
    font-size: 1.8rem;
}

/*Login labels*/
.user-label{
    font-size: 1.4rem;
}

.password-label{
    font-size: 1.4rem;
}

.label-font{
    font-size: 1.4rem;
}

.input-form{
    padding: 0.5em 2em 0.5em 2em;
    margin-top: 15px;
}


input[type="submit"] {
    background-color: red;
    color: white;
    border-radius: 10px;
}

table, th, td{
    font-size: 1.8rem;
    padding: 0 1em 0 1em;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 2em 0 3em 0;
}

td{
    font-size: 1.4rem;
}

.product-search{
    margin-top: 50px;
}

h3{
    color: seagreen;
}

.green{
    color: seagreen;
}

.view-h2{
    color: red;
}

.red{
    color:red;
}
img{
    width:100%;
    height:10vh;
}



